= form_for @route, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :date, :class => 'control-label'
    .controls
      = f.date_field :date, :class => 'date_field'
  .control-group
    = f.label :trip_number, :class => 'control-label'
    .controls
      = f.text_field :trip_number, :class => 'text_field'
  .control-group
    = f.label :advance, :class => 'control-label'
    .controls
      = f.text_field :advance, :class => 'text_field'
  .control-group
    = f.label :reimbursement, :class => 'control-label'
    .controls
      = f.text_field :reimbursement, :class => 'text_field'
  .control-group
    = f.label :gross_revenue, :class => 'control-label'
    .controls
      = f.text_field :gross_revenue, :class => 'text_field'
  .control-group
    = f.label :net_revenue, :class => 'control-label'
    .controls
      = f.text_field :net_revenue, :class => 'text_field'
  .control-group
    = f.label :driver_id, :class => 'control-label'
    .controls
      = f.collection_select :driver_id, Driver.all, :id, :name, :class => 'text_field'
  .control-group
    = f.label :trailer_rented, :class => 'control-label'
    .controls
      = f.check_box :trailer_rented, :class => 'check_box'
  .control-group
    = f.label :trailer_rental, :class => 'control-label'
    .controls
      = f.text_field :trailer_rental, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), routes_path, :class => 'btn'
